{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Agenda">
        <meta name="keywords" content="contacts">
        <title>Document</title>
        <link rel="stylesheet" href="{% static "global/css/style.css" %}"></link>
</head>
<body>
    <main class="content">
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>
